button.maximize.titlebutton:not(.suggested-action):not(.destructive-action):not(:hover),
button.minimize.titlebutton:not(.suggested-action):not(.destructive-action):not(:hover) {
  background-color: transparent;
}

button.close.titlebutton:not(.suggested-action):not(.destructive-action) {
  background-color: @accent-bg-color;
  color: @accent-fg-color;
}

button.close.titlebutton:not(.suggested-action):not(.destructive-action):hover {
  background-color: mix(@accent-bg-color, black, 0.2);
}


button.close.titlebutton:not(.suggested-action):not(.destructive-action) > image {
	color: @accent-fg-color;
}

button.close.titlebutton:not(.suggested-action):not(.destructive-action):backdrop {
  background-color: shade(@accent-bg-color, 0.5);
  color: @accent-fg-color;
}

