@define-color window_bg_color #1f2247;
@define-color window_fg_color #99c1f1;

@define-color view_bg_color #2b3258;
@define-color view_fg_color #99c1f1;

@define-color success_color #78e9ab;
@define-color success_bg_color #26a269;
@define-color success_fg_color #99c1f1;

@define-color warning_color #ffc252;
@define-color warning_bg_color #cd9309;
@define-color warning_fg_color #000000;

@define-color destructive_color #ff938c;
@define-color destructive_bg_color #c01c28;
@define-color destructive_fg_color #f9f06b;

@define-color error_color #ff938c;
@define-color error_bg_color #c01c28;
@define-color error_fg_color #f9f06b;

@define-color headerbar_bg_color #2b3269;
@define-color headerbar_fg_color #99c1f1;

@define-color popover_bg_color #2b3258;
@define-color popover_fg_color #99c1f1;

@define-color dialog_bg_color #2b3258;
@define-color dialog_fg_color #99c1f1;

@define-color card_bg_color #2b3258;
@define-color card_fg_color #99c1f1;

@define-color sidebar_bg_color #2b3269;
@define-color sidebar_fg_color #99c1f1;
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color sidebar_border_color #2b3258;

@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color secondary_sidebar_fg_color @sidebar_fg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_backdrop_color;
@define-color secondary_sidebar_border_color @sidebar_border_color;

@define-color blue_1 #3584e4;
@define-color blue_2 #99c1f1;
@define-color green_1 #33d17a;
@define-color yellow_1 #f6d32d;
@define-color red_1 #e01b24;
@define-color purple_1 #ff00c6;
@define-color purple_2 #7a00ff;
@define-color orange_1 #ff7800;
@define-color brown_1 #39200a;
@define-color light_1 #ffffff;
@define-color light_5 #9141ac;
@define-color dark_1 #241f31;

toast {
  background-color: #1f2247;
  color: #99c1f1;
}

toggle:checked {
  background-color: #2b3258;
  color: #99c1f1;
}

.inline {
	background-color: rgba(0, 0, 0, 0);
}
