:root {
  --window-bg-color: #1f2247;
  --window-fg-color: #99c1f1;

  --view-bg-color: #2b3258;
  --view-fg-color: #99c1f1;

  --success-color: #78e9ab;
  --success-bg-color: #26a269;
  --success-fg-color: #99c1f1;

  --warning-color: #ffc252;
  --warning-bg-color: #cd9309;
  --warning-fg-color: #000000;

  --destructive-color: #ff938c;
  --destructive-bg-color: #c01c28;
  --destructive-fg-color: #f9f06b;

  --error-color: #ff938c;
  --error-bg-color: #c01c28;
  --error-fg-color: #f9f06b;

  --headerbar-bg-color: #2b3269;
  --headerbar-fg-color: #99c1f1;

  --popover-bg-color: #2b3258;
  --popover-fg-color: #99c1f1;

  --dialog-bg-color: #2b3258;
  --dialog-fg-color: #99c1f1;

  --card-bg-color: #2b3258;
  --card-fg-color: #99c1f1;

  --sidebar-bg-color: #2b3269;
  --sidebar-fg-color: #99c1f1;
  --sidebar-backdrop-color: var(--sidebar-bg-color);
  --sidebar-border-color: #2b3258;

  --secondary-sidebar-bg-color: var(--sidebar-bg-color);
  --secondary-sidebar-fg-color: var(--sidebar-fg-color);
  --secondary-sidebar-backdrop-color: var(--sidebar-backdrop-color);
  --secondary-sidebar-border-color: var(--sidebar-border-color);

  --blue-1: #3584e4;
  --blue-2: #99c1f1;
  --green-1: #33d17a;
  --yellow-1: #f6d32d;
  --red-1: #e01b24;
  --purple-1: #ff00c6;
  --purple-2: #7a00ff;
  --orange-1: #ff7800;
  --brown-1: #39200a;
  --light-1: #ffffff;
  --light-5: #9141ac;
  --dark-1: #241f31;

  --active-toggle-bg-color: var(--window-fg-color);
  --active-toggle-fg-color: var(--window-bg-color);
}

toast {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}

.inline {
  background-color: rgba(0, 0, 0, 0);
}
