:root {
  --window-bg-color: #2a2e32;
  --window-fg-color: #fcfcfc;

  --view-bg-color: #1b1e20;
  --view-fg-color: #fcfcfc;

  --success-color: #26ae5f;
  --success-bg-color: #26ae5f;
  --success-fg-color: #ffffff;

  --warning-color: #f67400;
  --warning-bg-color: #f67400;
  --warning-fg-color: #ffffff;

  --destructive-color: #da4452;
  --destructive-bg-color: #da4452;
  --destructive-fg-color: #ffffff;

  --error-color: #da4452;
  --error-bg-color: #da4452;
  --error-fg-color: #ffffff;

  --headerbar-bg-color: #31363b;
  --headerbar-fg-color: #fcfcfc;

  --popover-bg-color: #1b1e20;
  --popover-fg-color: #fcfcfc;

  --dialog-bg-color: #1b1e20;
  --dialog-fg-color: #fcfcfc;

  --card-bg-color: #1b1e20;
  --card-fg-color: #fcfcfc;

  --sidebar-bg-color: #1b1e20;
  --sidebar-fg-color: #fcfcfc;
  --sidebar-backdrop-color: var(--sidebar-bg-color);
  --sidebar-border-color: #1b1e20;

  --secondary-sidebar-bg-color: var(--sidebar-bg-color);
  --secondary-sidebar-fg-color: var(--sidebar-fg-color);
  --secondary-sidebar-backdrop-color: var(--sidebar-backdrop-color);
  --secondary-sidebar-border-color: var(--sidebar-border-color);

  --blue-1: #99c1f1;
  --blue-2: #62a0ea;
  --green-1: #8ff0a4;
  --yellow-1: #f9f06b;
  --red-1: #f66050;
  --purple-1: #dc8add;
  --purple-2: #c061cb;
  --orange-1: #ffbe6f;
  --brown-1: #cdab8f;
  --light-1: #ffffff;
  --light-5: #9a9996;
  --dark-1: #77767b;

  --active-toggle-bg-color: var(--window-fg-color);
  --active-toggle-fg-color: var(--window-bg-color);
}

toast {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}

.inline {
  background-color: rgba(0, 0, 0, 0);
}
