:root {
  --window-bg-color: #282a36;
  --window-fg-color: #f8f8f2;

  /* View styling */
  --view-bg-color: #282a36;
  --view-fg-color: #f8f8f2;

  /* Header bar */
  --headerbar-bg-color: #21222c;
  --headerbar-backdrop-color: #21222c;
  --headerbar-fg-color: #f8f8f2;

  /* Popovers and dialogs */
  --popover-bg-color: #282a36;
  --popover-fg-color: #f8f8f2;

  --dialog-bg-color: var(--popover-bg-color);
  --dialog-fg-color: var(--popover-fg-color);

  /* Cards and sidebars */
  --card-bg-color: #3d3f49;
  --card-fg-color: #f8f8f2;

  --sidebar-bg-color: #282a36;
  --sidebar-fg-color: #f8f8f2;
  --sidebar-backdrop-color: var(--sidebar-bg-color);
  --sidebar-border-color: #44475a;

  --secondary-sidebar-bg-color: var(--sidebar-bg-color);
  --secondary-sidebar-fg-color: var(--sidebar-fg-color);
  --secondary-sidebar-backdrop-color: var(--sidebar-backdrop-color);
  --secondary-sidebar-border-color: var(--sidebar-border-color);

  /* Dracula accent colors */
  --blue-1: #6272a4;
  --blue-2: #8be9fd;
  --blue-3: #50fa7b;
  --blue-4: #bd93f9;
  --blue-5: #ff79c6;

  --green-1: #50fa7b;
  --green-2: #8be9fd;
  --green-3: #f1fa8c;
  --green-4: #ffb86c;
  --green-5: #ff79c6;

  --yellow-1: #f1fa8c;
  --yellow-2: #ffb86c;
  --yellow-3: #ff5555;
  --yellow-4: #bd93f9;
  --yellow-5: #6272a4;

  --orange-1: #ffb86c;
  --orange-2: #ff5555;
  --orange-3: #ff79c6;
  --orange-4: #f1fa8c;
  --orange-5: #50fa7b;

  --red-1: #ff5555;
  --red-2: #ff79c6;
  --red-3: #bd93f9;
  --red-4: #8be9fd;
  --red-5: #50fa7b;

  --purple-1: #bd93f9;
  --purple-2: #ff79c6;
  --purple-3: #ff5555;
  --purple-4: #ffb86c;
  --purple-5: #f1fa8c;

  --brown-1: #6272a4;
  --brown-2: #44475a;
  --brown-3: #343746;
  --brown-4: #21222c;
  --brown-5: #191a21;

  --light-1: #f8f8f2;
  --light-2: #e2e2dc;
  --light-3: #cccccc;
  --light-4: #bd93f9;
  --light-5: #6272a4;

  --dark-1: #44475a;
  --dark-2: #343746;
  --dark-3: #282a36;
  --dark-4: #21222c;
  --dark-5: #191a21;

  --active-toggle-bg-color: var(--window-fg-color);
  --active-toggle-fg-color: var(--window-bg-color);
}

toast {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}

.inline {
  background-color: rgba(0, 0, 0, 0);
}
