/* Everforest Dark Palette */
@define-color window_bg_color #2b3339; /* bg0 */
@define-color window_fg_color #d5c9a1; /* fg */

/* View styling */
@define-color view_bg_color #2b3339;
@define-color view_fg_color #d5c9a1;

/* Header bar */
@define-color headerbar_bg_color #232a2e;
@define-color headerbar_backdrop_color #232a2e;
@define-color headerbar_fg_color #d5c9a1;

/* Popovers and dialogs */
@define-color popover_bg_color #2b3339;
@define-color popover_fg_color #d5c9a1;

@define-color dialog_bg_color @popover_bg_color;
@define-color dialog_fg_color @popover_fg_color;

/* Cards and sidebars */
@define-color card_bg_color #3c4243;
@define-color card_fg_color #d5c9a1;

@define-color sidebar_bg_color #2b3339;
@define-color sidebar_fg_color #d5c9a1;
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color sidebar_border_color #374145; /* bg2 */

@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color secondary_sidebar_fg_color @sidebar_fg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_backdrop_color;
@define-color secondary_sidebar_border_color @sidebar_border_color;

@define-color panel_bg_color @window_bg_color;
@define-color panel_fg_color @window_fg_color;
@define-color panel_button_bg_color transparent;
@define-color panel_hover_bg_color @card_bg_color;

/* Everforest Dark accent colors */
@define-color blue_1 #7fbbb3; /* blue */
@define-color blue_2 #83c092; /* green */
@define-color blue_3 #8da101; /* yellow */
@define-color blue_4 #d699b6; /* purple */
@define-color blue_5 #e69875; /* orange */

@define-color green_1 #83c092; /* green */
@define-color green_2 #7fbbb3; /* blue */
@define-color green_3 #dbbc7f; /* yellow */
@define-color green_4 #e69875; /* orange */
@define-color green_5 #e67e80; /* red */

@define-color yellow_1 #dbbc7f; /* yellow */
@define-color yellow_2 #e69875; /* orange */
@define-color yellow_3 #e67e80; /* red */
@define-color yellow_4 #d699b6; /* purple */
@define-color yellow_5 #7fbbb3; /* blue */

@define-color orange_1 #e69875; /* orange */
@define-color orange_2 #e67e80; /* red */
@define-color orange_3 #d699b6; /* purple */
@define-color orange_4 #dbbc7f; /* yellow */
@define-color orange_5 #83c092; /* green */

@define-color red_1 #e67e80; /* red */
@define-color red_2 #d699b6; /* purple */
@define-color red_3 #7fbbb3; /* blue */
@define-color red_4 #83c092; /* green */
@define-color red_5 #dbbc7f; /* yellow */

@define-color purple_1 #d699b6; /* purple */
@define-color purple_2 #e67e80; /* red */
@define-color purple_3 #e69875; /* orange */
@define-color purple_4 #dbbc7f; /* yellow */
@define-color purple_5 #83c092; /* green */

@define-color brown_1 #374145; /* bg2 */
@define-color brown_2 #404c51; /* bg3 */
@define-color brown_3 #4a555b; /* bg4 */
@define-color brown_4 #53605d; /* gray0 */
@define-color brown_5 #5d6b66; /* gray1 */

@define-color light_1 #d5c9a1; /* fg */
@define-color light_2 #c9b99a; /* fg1 */
@define-color light_3 #bdae93; /* fg2 */
@define-color light_4 #7fbbb3; /* blue */
@define-color light_5 #404c51; /* bg3 */

@define-color dark_1 #374145; /* bg2 */
@define-color dark_2 #232a2e; /* bg1 */
@define-color dark_3 #2b3339; /* bg0 */
@define-color dark_4 #1e2326; /* bg0_hard */
@define-color dark_5 #343f44; /* bg0_soft */

toast {
  background-color: @window_bg_color;
  color: @window_fg_color;
}

toggle:checked {
  background-color: @card_bg_color;
  color: @window_fg_color;
}

.inline {
	background-color: rgba(0, 0, 0, 0);
}
