:root {
  --window-bg-color: #292d3e;
  --window-fg-color: #a6accd;

  /* View styling */
  --view-bg-color: #292d3e;
  --view-fg-color: #a6accd;

  /* Header bar */
  --headerbar-bg-color: #222436;
  --headerbar-backdrop-color: #222436;
  --headerbar-fg-color: #a6accd;

  /* Popovers and dialogs */
  --popover-bg-color: #292d3e;
  --popover-fg-color: #a6accd;

  --dialog-bg-color: var(--popover-bg-color);
  --dialog-fg-color: var(--popover-fg-color);

  /* Cards and sidebars */
  --card-bg-color: #353a4c;
  --card-fg-color: #a6accd;

  --sidebar-bg-color: #292d3e;
  --sidebar-fg-color: #a6accd;
  --sidebar-backdrop-color: var(--sidebar-bg-color);
  --sidebar-border-color: #3b3f51;

  --secondary-sidebar-bg-color: var(--sidebar-bg-color);
  --secondary-sidebar-fg-color: var(--sidebar-fg-color);
  --secondary-sidebar-backdrop-color: var(--sidebar-backdrop-color);
  --secondary-sidebar-border-color: var(--sidebar-border-color);

  /* Material Palenight accents */
  --blue-1: #82aaff;
  --blue-2: #89ddff;
  --blue-3: #50c4fa;
  --blue-4: #39adb5;
  --blue-5: #676e95;

  --green-1: #c3e88d;
  --green-2: #80cbc4;
  --green-3: #50fa7b;
  --green-4: #4fd6be;
  --green-5: #44b5b1;

  --yellow-1: #ffcb6b;
  --yellow-2: #f78c6c;
  --yellow-3: #ffeb95;
  --yellow-4: #f07178;
  --yellow-5: #ff5572;

  --orange-1: #f78c6c;
  --orange-2: #f07178;
  --orange-3: #ff5572;
  --orange-4: #ffcb6b;
  --orange-5: #c3e88d;

  --red-1: #ff5370;
  --red-2: #f07178;
  --red-3: #ff5572;
  --red-4: #f78c6c;
  --red-5: #ffcb6b;

  --purple-1: #c792ea;
  --purple-2: #b388ff;
  --purple-3: #d6acff;
  --purple-4: #a3f7ff;
  --purple-5: #82aaff;

  --brown-1: #959dcb;
  --brown-2: #676e95;
  --brown-3: #4a5070;
  --brown-4: #3b3f51;
  --brown-5: #222436;

  --light-1: #a6accd;
  --light-2: #d0d0ff;
  --light-3: #959dcb;
  --light-4: #82aaff;
  --light-5: #676e95;

  --dark-1: #3b3f51;
  --dark-2: #32364a;
  --dark-3: #292d3e;
  --dark-4: #222436;
  --dark-5: #1b1e2b;

  --active-toggle-bg-color: var(--window-fg-color);
  --active-toggle-fg-color: var(--window-bg-color);
}

toast {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}

.inline {
  background-color: rgba(0, 0, 0, 0);
}
