/* Material Palenight Palette */
@define-color window_bg_color #292d3e; /* background */
@define-color window_fg_color #a6accd; /* foreground */

/* View styling */
@define-color view_bg_color #292d3e;
@define-color view_fg_color #a6accd;

/* Header bar */
@define-color headerbar_bg_color #222436;
@define-color headerbar_backdrop_color #222436;
@define-color headerbar_fg_color #a6accd;

/* Popovers and dialogs */
@define-color popover_bg_color #292d3e;
@define-color popover_fg_color #a6accd;

@define-color dialog_bg_color @popover_bg_color;
@define-color dialog_fg_color @popover_fg_color;

/* Cards and sidebars */
@define-color card_bg_color #353a4c;
@define-color card_fg_color #a6accd;

@define-color sidebar_bg_color #292d3e;
@define-color sidebar_fg_color #a6accd;
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color sidebar_border_color #3b3f51;

@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color secondary_sidebar_fg_color @sidebar_fg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_backdrop_color;
@define-color secondary_sidebar_border_color @sidebar_border_color;

/* Material Palenight accent colors */
@define-color blue_1 #82aaff;
@define-color blue_2 #89ddff;
@define-color blue_3 #50c4fa;
@define-color blue_4 #39adb5;
@define-color blue_5 #676e95;

@define-color green_1 #c3e88d;
@define-color green_2 #80cbc4;
@define-color green_3 #50fa7b;
@define-color green_4 #4fd6be;
@define-color green_5 #44b5b1;

@define-color yellow_1 #ffcb6b;
@define-color yellow_2 #f78c6c;
@define-color yellow_3 #ffeb95;
@define-color yellow_4 #f07178;
@define-color yellow_5 #ff5572;

@define-color orange_1 #f78c6c;
@define-color orange_2 #f07178;
@define-color orange_3 #ff5572;
@define-color orange_4 #ffcb6b;
@define-color orange_5 #c3e88d;

@define-color red_1 #ff5370;
@define-color red_2 #f07178;
@define-color red_3 #ff5572;
@define-color red_4 #f78c6c;
@define-color red_5 #ffcb6b;

@define-color purple_1 #c792ea;
@define-color purple_2 #b388ff;
@define-color purple_3 #d6acff;
@define-color purple_4 #a3f7ff;
@define-color purple_5 #82aaff;

@define-color brown_1 #959dcb;
@define-color brown_2 #676e95;
@define-color brown_3 #4a5070;
@define-color brown_4 #3b3f51;
@define-color brown_5 #222436;

@define-color light_1 #a6accd;
@define-color light_2 #d0d0ff;
@define-color light_3 #959dcb;
@define-color light_4 #82aaff;
@define-color light_5 #676e95;

@define-color dark_1 #3b3f51;
@define-color dark_2 #32364a;
@define-color dark_3 #292d3e;
@define-color dark_4 #222436;
@define-color dark_5 #1b1e2b;

toast {
  background-color: @window_bg_color;
  color: @window_fg_color;
}

toggle:checked {
  background-color: @card_bg_color;
  color: @window_fg_color;
}

.inline {
	background-color: rgba(0, 0, 0, 0);
}
