:root {
  --window-bg-color: #2e3440;
  --window-fg-color: #d8dee9;

  /* View styling */
  --view-bg-color: #2e3440;
  --view-fg-color: #d8dee9;

  /* Header bar */
  --headerbar-bg-color: #3b4252;
  --headerbar-backdrop-color: #3b4252;
  --headerbar-fg-color: #d8dee9;

  /* Popovers and dialogs */
  --popover-bg-color: #2e3440;
  --popover-fg-color: #d8dee9;

  --dialog-bg-color: var(--popover-bg-color);
  --dialog-fg-color: var(--popover-fg-color);

  /* Cards and sidebars */
  --card-bg-color: #3f4551;
  --card-fg-color: #d8dee9;

  --sidebar-bg-color: #2e3440;
  --sidebar-fg-color: #d8dee9;
  --sidebar-backdrop-color: var(--sidebar-bg-color);
  --sidebar-border-color: #3b4252;

  --secondary-sidebar-bg-color: var(--sidebar-bg-color);
  --secondary-sidebar-fg-color: var(--sidebar-fg-color);
  --secondary-sidebar-backdrop-color: var(--sidebar-backdrop-color);
  --secondary-sidebar-border-color: var(--sidebar-border-color);

  /* Nord accents */
  --blue-1: #5e81ac;
  --blue-2: #81a1c1;
  --blue-3: #88c0d0;
  --blue-4: #8fbcbb;
  --blue-5: #d8dee9;

  --green-1: #a3be8c;
  --green-2: #8fbcbb;
  --green-3: #88c0d0;
  --green-4: #81a1c1;
  --green-5: #5e81ac;

  --yellow-1: #ebcb8b;
  --yellow-2: #d08770;
  --yellow-3: #e5e9f0;
  --yellow-4: #eceff4;
  --yellow-5: #bf616a;

  --orange-1: #d08770;
  --orange-2: #bf616a;
  --orange-3: #5e81ac;
  --orange-4: #ebcb8b;
  --orange-5: #a3be8c;

  --red-1: #bf616a;
  --red-2: #d08770;
  --red-3: #5e81ac;
  --red-4: #81a1c1;
  --red-5: #8fbcbb;

  --purple-1: #b48ead;
  --purple-2: #81a1c1;
  --purple-3: #5e81ac;
  --purple-4: #d08770;
  --purple-5: #ebcb8b;

  --brown-1: #4c566a;
  --brown-2: #434c5e;
  --brown-3: #3b4252;
  --brown-4: #2e3440;
  --brown-5: #d8dee9;

  --light-1: #d8dee9;
  --light-2: #e5e9f0;
  --light-3: #eceff4;
  --light-4: #4c566a;
  --light-5: #5e81ac;

  --dark-1: #3b4252;
  --dark-2: #434c5e;
  --dark-3: #2e3440;
  --dark-4: #242933;
  --dark-5: #1c1f26;

  --active-toggle-bg-color: var(--window-fg-color);
  --active-toggle-fg-color: var(--window-bg-color);
}

toast {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}

.inline {
  background-color: rgba(0, 0, 0, 0);
}
