:root {
  --window-bg-color: #232b39;
  --window-fg-color: #ABB2BF;

  /* View styling */
  --view-bg-color: #282C34;
  --view-fg-color: #ABB2BF;

  /* Header bar */
  --headerbar-bg-color: #21252B;
  --headerbar-backdrop-color: #21252B;
  --headerbar-fg-color: #ABB2BF;
  --headerbar-border-color: #2c3344;

  /* Popovers and dialogs */
  --popover-bg-color: #282C34;
  --popover-fg-color: #ABB2BF;

  --dialog-bg-color: var(--popover-bg-color);
  --dialog-fg-color: var(--popover-fg-color);

  /* Cards and sidebars */
  --card-bg-color: #2c3344;
  --card-fg-color: #ABB2BF;

  --sidebar-bg-color: #1d242f;
  --sidebar-fg-color: #ABB2BF;
  --sidebar-backdrop-color: var(--sidebar-bg-color);
  --sidebar-border-color: #2c3344;

  --secondary-sidebar-bg-color: var(--sidebar-bg-color);
  --secondary-sidebar-fg-color: var(--sidebar-fg-color);
  --secondary-sidebar-backdrop-color: var(--sidebar-backdrop-color);
  --secondary-sidebar-border-color: var(--sidebar-border-color);

  /* One Dark Cool accents */
  --blue-1: #61AFEF;
  --blue-2: #528BCC;
  --blue-3: #3D85D6;
  --blue-4: #2B6CAD;
  --blue-5: #1A568F;

  --green-1: #98C379;
  --green-2: #83A75C;
  --green-3: #6D8B4F;
  --green-4: #577042;
  --green-5: #415534;

  --yellow-1: #E5C07B;
  --yellow-2: #D1A766;
  --yellow-3: #BD8E51;
  --yellow-4: #A9753C;
  --yellow-5: #955C27;

  --orange-1: #D19A66;
  --orange-2: #BB814F;
  --orange-3: #A56838;
  --orange-4: #8F4F21;
  --orange-5: #79360A;

  --red-1: #E06C75;
  --red-2: #C8555D;
  --red-3: #B03E45;
  --red-4: #98272D;
  --red-5: #801015;

  --purple-1: #C678DD;
  --purple-2: #B05FC9;
  --purple-3: #9A46B5;
  --purple-4: #842DA1;
  --purple-5: #6E148D;

  --brown-1: #5C6370;
  --brown-2: #4A515D;
  --brown-3: #383F4A;
  --brown-4: #262D37;
  --brown-5: #141B24;

  --light-1: #ABB2BF;
  --light-2: #9198A5;
  --light-3: #777E8B;
  --light-4: #5D6471;
  --light-5: #ABB2BF;

  --dark-1: #2c3344;
  --dark-2: #343B48;
  --dark-3: #2A313E;
  --dark-4: #202734;
  --dark-5: #161D2A;

  --active-toggle-bg-color: var(--window-fg-color);
  --active-toggle-fg-color: var(--window-bg-color);
}

toast {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}

.inline {
  background-color: rgba(0, 0, 0, 0);
}
