:root {
  --window-bg-color: #2c3746;
  --window-fg-color: #fdfdfd;

  /* View styling */
  --view-bg-color: #2c3746;
  --view-fg-color: #fdfdfd;

  /* Header bar */
  --headerbar-bg-color: #2c3746;
  --headerbar-backdrop-color: #2a3443;
  --headerbar-fg-color: #fdfdfd;

  /* Popovers and dialogs */
  --popover-bg-color: #46586f;
  --popover-fg-color: #fcfdfd;

  --dialog-bg-color: var(--popover-bg-color);
  --dialog-fg-color: var(--popover-fg-color);

  /* Cards and sidebars */
  --card-bg-color: #323e4f;
  --card-fg-color: #fefefe;

  --sidebar-bg-color: #2c3746;
  --sidebar-fg-color: #fdfdfd;
  --sidebar-backdrop-color: var(--sidebar-bg-color);
  --sidebar-border-color: #606974;

  --secondary-sidebar-bg-color: var(--sidebar-bg-color);
  --secondary-sidebar-fg-color: var(--sidebar-fg-color);
  --secondary-sidebar-backdrop-color: var(--sidebar-backdrop-color);
  --secondary-sidebar-border-color: var(--sidebar-border-color);

  /* Otto accents */
  --blue-1: #3daee9;
  --blue-2: #33607f;
  --blue-3: #5f7dcd;
  --blue-4: #378ab8;
  --blue-5: #3daee9;

  --green-1: #9c53c6;
  --green-2: #4f3e6d;
  --green-3: #27ae60;
  --green-4: #1abc9c;
  --green-5: #80ff80;

  --yellow-1: #5f7dcd;
  --yellow-2: #3b4c70;
  --yellow-3: #f67400;
  --yellow-4: #e67e22;
  --yellow-5: #ffdd00;

  --orange-1: #e67e22;
  --orange-2: #f67400;
  --orange-3: #ffdd00;
  --orange-4: #e67e22;
  --orange-5: #f67400;

  --red-1: #43cdbd;
  --red-2: #32666a;
  --red-3: #da4453;
  --red-4: #e74c3c;
  --red-5: #f00101;

  --purple-1: #7f8c8d;
  --purple-2: #bdc3c7;
  --purple-3: #9b59b6;
  --purple-4: #8f59b6;
  --purple-5: #afafaf;

  --brown-1: #606974;
  --brown-2: #3b4552;
  --brown-3: #2a3443;
  --brown-4: #323e4f;
  --brown-5: #707780;

  --light-1: #fefefe;
  --light-2: #fdfdfd;
  --light-3: #fcfdfd;
  --light-4: #3daee9;
  --light-5: #707780;

  --dark-1: #606974;
  --dark-2: #3b4552;
  --dark-3: #2a3443;
  --dark-4: #2c3746;
  --dark-5: #46586f;

  --active-toggle-bg-color: var(--window-fg-color);
  --active-toggle-fg-color: var(--window-bg-color);
}

toast {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}

.inline {
  background-color: rgba(0, 0, 0, 0);
}
