:root {
  /* Window */
  --window-bg-color: #232136;
  --window-fg-color: #e0def4;

  /* View styling */
  --view-bg-color: #232136;
  --view-fg-color: #e0def4;

  /* Header bar */
  --headerbar-bg-color: #2a273f;
  --headerbar-backdrop-color: #2a273f;
  --headerbar-fg-color: #e0def4;

  /* Popovers and dialogs */
  --popover-bg-color: #232136;
  --popover-fg-color: #e0def4;

  --dialog-bg-color: var(--popover-bg-color);
  --dialog-fg-color: var(--popover-fg-color);

  /* Cards and sidebar */
  --card-bg-color: #363449;
  --card-fg-color: #e0def4;

  --sidebar-bg-color: #232136;
  --sidebar-fg-color: #e0def4;
  --sidebar-backdrop-color: var(--sidebar-bg-color);
  --sidebar-border-color: #393552;

  --secondary-sidebar-bg-color: var(--sidebar-bg-color);
  --secondary-sidebar-fg-color: var(--sidebar-fg-color);
  --secondary-sidebar-backdrop-color: var(--sidebar-backdrop-color);
  --secondary-sidebar-border-color: var(--sidebar-border-color);

  /* Rosé Pine accents */
  --blue-1: #9ccfd8;
  --blue-2: #c4a7e7;
  --blue-3: #3e8fb0;
  --blue-4: #569fba;
  --blue-5: #6c77bb;

  --green-1: #ea9a97;
  --green-2: #ebbcba;
  --green-3: #3e8fb0;
  --green-4: #9ccfd8;
  --green-5: #569fba;

  --yellow-1: #f6c177;
  --yellow-2: #ea9d34;
  --yellow-3: #ebbcba;
  --yellow-4: #d7827e;
  --yellow-5: #ea9a97;

  --orange-1: #ea9a97;
  --orange-2: #d7827e;
  --orange-3: #eb6f92;
  --orange-4: #f6c177;
  --orange-5: #ea9d34;

  --red-1: #eb6f92;
  --red-2: #b4637a;
  --red-3: #eb6f92;
  --red-4: #d7827e;
  --red-5: #ea9a97;

  --purple-1: #c4a7e7;
  --purple-2: #908caa;
  --purple-3: #6e6a86;
  --purple-4: #9ccfd8;
  --purple-5: #3e8fb0;

  --brown-1: #555169;
  --brown-2: #6e6a86;
  --brown-3: #908caa;
  --brown-4: #c4a7e7;
  --brown-5: #555169;

  --light-1: #e0def4;
  --light-2: #908caa;
  --light-3: #6e6a86;
  --light-4: #c4a7e7;
  --light-5: #555169;

  --dark-1: #393552;
  --dark-2: #2a273f;
  --dark-3: #232136;
  --dark-4: #191724;
  --dark-5: #16141f;

  /* Active toggle */
  --active-toggle-bg-color: var(--window-fg-color);
  --active-toggle-fg-color: var(--window-bg-color);
}

toast {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}

.inline {
  background-color: rgba(0, 0, 0, 0);
}
