:root {
  /* Window */
  --window-bg-color: #002b36;
  --window-fg-color: #839496;

  /* View styling */
  --view-bg-color: #002b36;
  --view-fg-color: #839496;

  /* Header bar */
  --headerbar-bg-color: #073642;
  --headerbar-backdrop-color: #073642;
  --headerbar-fg-color: #839496;

  /* Popovers and dialogs */
  --popover-bg-color: #002b36;
  --popover-fg-color: #839496;

  --dialog-bg-color: var(--popover-bg-color);
  --dialog-fg-color: var(--popover-fg-color);

  /* Cards and sidebars */
  --card-bg-color: #0d3540;
  --card-fg-color: #839496;

  --sidebar-bg-color: #002b36;
  --sidebar-fg-color: #839496;
  --sidebar-backdrop-color: var(--sidebar-bg-color);
  --sidebar-border-color: #586e75;

  --secondary-sidebar-bg-color: var(--sidebar-bg-color);
  --secondary-sidebar-fg-color: var(--sidebar-fg-color);
  --secondary-sidebar-backdrop-color: var(--sidebar-backdrop-color);
  --secondary-sidebar-border-color: var(--sidebar-border-color);

  /* Accents */
  --blue-1: #268bd2;
  --blue-2: #2aa198;
  --blue-3: #859900;
  --blue-4: #6c71c4;
  --blue-5: #d33682;

  --green-1: #859900;
  --green-2: #2aa198;
  --green-3: #b58900;
  --green-4: #cb4b16;
  --green-5: #268bd2;

  --yellow-1: #b58900;
  --yellow-2: #cb4b16;
  --yellow-3: #dc322f;
  --yellow-4: #d33682;
  --yellow-5: #6c71c4;

  --orange-1: #cb4b16;
  --orange-2: #dc322f;
  --orange-3: #d33682;
  --orange-4: #6c71c4;
  --orange-5: #268bd2;

  --red-1: #dc322f;
  --red-2: #d33682;
  --red-3: #6c71c4;
  --red-4: #268bd2;
  --red-5: #2aa198;

  --purple-1: #6c71c4;
  --purple-2: #d33682;
  --purple-3: #dc322f;
  --purple-4: #cb4b16;
  --purple-5: #b58900;

  --brown-1: #586e75;
  --brown-2: #657b83;
  --brown-3: #073642;
  --brown-4: #002b36;
  --brown-5: #839496;

  --light-1: #93a1a1;
  --light-2: #eee8d5;
  --light-3: #fdf6e3;
  --light-4: #268bd2;
  --light-5: #586e75;

  --dark-1: #073642;
  --dark-2: #002b36;
  --dark-3: #001e26;
  --dark-4: #00151b;
  --dark-5: #000d11;

  /* Active toggle colors */
  --active-toggle-bg-color: var(--window-bg-color);
  --active-toggle-fg-color: var(--window-fg-color);
}

/* Toast styling */
toast {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}

.inline {
  background-color: rgba(0, 0, 0, 0);
}
