:root {
  --window-bg-color: var(--window-bg-color);
  --window-fg-color: var(--window-fg-color);
  --view-bg-color: var(--view-bg-color);
  --view-fg-color: var(--view-fg-color);
  --success-color: var(--success-color);
  --success-bg-color: var(--success-bg-color);
  --success-fg-color: var(--success-fg-color);
  --warning-color: var(--warning-color);
  --warning-bg-color: var(--warning-bg-color);
  --warning-fg-color: var(--warning-fg-color);
  --destructive-color: var(--destructive-color);
  --destructive-bg-color: var(--destructive-bg-color);
  --destructive-fg-color: var(--destructive-fg-color);
  --error-color: var(--destructive-color);
  --error-bg-color: var(--destructive-bg-color);
  --error-fg-color: var(--destructive-fg-color);
  --headerbar-bg-color: var(--headerbar-bg-color);
  --headerbar-fg-color: var(--headerbar-fg-color);
  --popover-bg-color: var(--view-bg-color);
  --popover-fg-color: var(--view-fg-color);
  --dialog-bg-color: var(--view-bg-color);
  --dialog-fg-color: var(--view-fg-color);
  --card-bg-color: var(--card-bg-color);
  --card-fg-color: var(--card-fg-color);
  --sidebar-bg-color: var(--view-bg-color);
  --sidebar-fg-color: var(--view-fg-color);
  --sidebar-backdrop-color: var(--view-bg-color);
  --sidebar-border-color: var(--card-bg-color);
  --secondary-sidebar-bg-color: var(--sidebar-bg-color);
  --secondary-sidebar-fg-color: var(--sidebar-fg-color);
  --secondary-sidebar-backdrop-color: var(--sidebar-backdrop-color);
  --secondary-sidebar-border-color: var(--sidebar-border-color);
  --blue-1: var(--blue-1);
  --blue-2: var(--blue-2);
  --green-1: var(--green-1);
  --yellow-1: var(--yellow-1);
  --red-1: var(--red-1);
  --purple-1: var(--purple-1);
  --purple-2: var(--purple-2);
  --orange-1: var(--orange-1);
  --brown-1: var(--brown-1);
  --light-1: var(--light-1);
  --light-5: var(--light-5);
  --dark-1: var(--dark-1);
  --accent-color: var(--accent-color);
  --accent-bg-color: var(--accent-bg-color);
  --accent-fg-color: var(--accent-fg-color);
}

toast {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}
toggle:checked {
  background-color: var(--card-bg-color);
  color: var(--window-fg-color);
}
