:root {
  /* Base */
  --window-bg-color: #eff1f5;
  --window-fg-color: #4c4f69;

  /* View styling */
  --view-bg-color: #eff1f5;
  --view-fg-color: #4c4f69;

  /* Header bar */
  --headerbar-bg-color: #e6e9ef;
  --headerbar-backdrop-color: #e6e9ef;
  --headerbar-fg-color: #4c4f69;

  /* Popovers & dialogs */
  --popover-bg-color: #eff1f5;
  --popover-fg-color: #4c4f69;

  --dialog-bg-color: var(--popover-bg-color);
  --dialog-fg-color: var(--popover-fg-color);

  /* Cards & sidebars */
  --card-bg-color: #dfe1e7;
  --card-fg-color: #4c4f69;

  --sidebar-bg-color: #eff1f5;
  --sidebar-fg-color: #4c4f69;
  --sidebar-backdrop-color: var(--sidebar-bg-color);
  --sidebar-border-color: #ccd0da;

  --secondary-sidebar-bg-color: var(--sidebar-bg-color);
  --secondary-sidebar-fg-color: var(--sidebar-fg-color);
  --secondary-sidebar-backdrop-color: var(--sidebar-backdrop-color);
  --secondary-sidebar-border-color: var(--sidebar-border-color);

  /* Panel */
  --panel-bg-color: var(--window-bg-color);
  --panel-fg-color: var(--window-fg-color);
  --panel-button-bg-color: transparent;
  --panel-hover-bg-color: var(--card-bg-color);

  /* Accents */
  --blue-1: #1e66f5;
  --blue-2: #179299;
  --blue-3: #04a5e5;
  --blue-4: #209fb5;
  --blue-5: #7287fd;

  --green-1: #40a02b;
  --green-2: #179299;
  --green-3: #04a5e5;
  --green-4: #209fb5;
  --green-5: #1e66f5;

  --yellow-1: #df8e1d;
  --yellow-2: #fe640b;
  --yellow-3: #df8e1d;
  --yellow-4: #d20f39;
  --yellow-5: #e64553;

  --orange-1: #fe640b;
  --orange-2: #d20f39;
  --orange-3: #e64553;
  --orange-4: #df8e1d;
  --orange-5: #40a02b;

  --red-1: #d20f39;
  --red-2: #e64553;
  --red-3: #ea76cb;
  --red-4: #dd7878;
  --red-5: #dc8a78;

  --purple-1: #8839ef;
  --purple-2: #7287fd;
  --purple-3: #ea76cb;
  --purple-4: #dd7878;
  --purple-5: #dc8a78;

  --brown-1: #acb0be;
  --brown-2: #9ca0b0;
  --brown-3: #8c8fa1;
  --brown-4: #7c7f93;
  --brown-5: #5c5f77;

  --light-1: #4c4f69;
  --light-2: #6c6f85;
  --light-3: #5c5f77;
  --light-4: #1e66f5;
  --light-5: #9ca0b0;

  --dark-1: #ccd0da;
  --dark-2: #bcc0cc;
  --dark-3: #acb0be;
  --dark-4: #e6e9ef;
  --dark-5: #dce0e8;
}

toast {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}

toggle:checked {
  background-color: var(--window-fg-color);
  color: var(--window-bg-color);
}

.inline {
  background-color: rgba(0, 0, 0, 0);
}
