:root {
  /* Base */
  --window-bg-color: #faf4ed;
  --window-fg-color: #575279;

  /* View styling */
  --view-bg-color: #faf4ed;
  --view-fg-color: #575279;

  /* Header bar */
  --headerbar-bg-color: #f2e9e1;
  --headerbar-backdrop-color: #f2e9e1;
  --headerbar-fg-color: #575279;

  /* Popovers & dialogs */
  --popover-bg-color: #faf4ed;
  --popover-fg-color: #575279;

  --dialog-bg-color: var(--popover-bg-color);
  --dialog-fg-color: var(--popover-fg-color);

  /* Cards & sidebars */
  --card-bg-color: #eae4e1;
  --card-fg-color: #575279;

  --sidebar-bg-color: #eee8e3;
  --sidebar-fg-color: #575279;
  --sidebar-backdrop-color: var(--sidebar-bg-color);
  --sidebar-border-color: #dfdad9;

  --secondary-sidebar-bg-color: var(--sidebar-bg-color);
  --secondary-sidebar-fg-color: var(--sidebar-fg-color);
  --secondary-sidebar-backdrop-color: var(--sidebar-backdrop-color);
  --secondary-sidebar-border-color: var(--sidebar-border-color);

  /* Panel */
  --panel-bg-color: var(--window-bg-color);
  --panel-fg-color: var(--window-fg-color);
  --panel-button-bg-color: transparent;
  --panel-hover-bg-color: var(--card-bg-color);

  /* Accents */
  --blue-1: #286983;
  --blue-2: #569fba;
  --blue-3: #9ccfd8;
  --blue-4: #c4a7e7;
  --blue-5: #6c77bb;

  --green-1: #d7827e;
  --green-2: #ea9a97;
  --green-3: #286983;
  --green-4: #569fba;
  --green-5: #9ccfd8;

  --yellow-1: #ea9d34;
  --yellow-2: #f6c177;
  --yellow-3: #d7827e;
  --yellow-4: #ea9a97;
  --yellow-5: #ebbcba;

  --orange-1: #d7827e;
  --orange-2: #ea9a97;
  --orange-3: #b4637a;
  --orange-4: #ea9d34;
  --orange-5: #f6c177;

  --red-1: #b4637a;
  --red-2: #d7827e;
  --red-3: #ea9a97;
  --red-4: #eb6f92;
  --red-5: #c4a7e7;

  --purple-1: #907aa9;
  --purple-2: #6e6a86;
  --purple-3: #9893a5;
  --purple-4: #569fba;
  --purple-5: #286983;

  --brown-1: #9893a5;
  --brown-2: #6e6a86;
  --brown-3: #575279;
  --brown-4: #907aa9;
  --brown-5: #555169;

  --light-1: #faf4ed;
  --light-2: #f2e9e1;
  --light-3: #dfdad9;
  --light-4: #cecacd;
  --light-5: #9893a5;

  --dark-1: #cecacd;
  --dark-2: #dfdad9;
  --dark-3: #f2e9e1;
  --dark-4: #faf4ed;
  --dark-5: #fffaf3;
}

toast {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}

toggle:checked {
  background-color: var(--window-fg-color);
  color: var(--window-bg-color);
}

.inline {
  background-color: rgba(0, 0, 0, 0);
}
