/* Gruvbox Light Medium Palette */
:root {
  --window-bg-color: #f9f5d7; /* bg0_hard */
  --window-fg-color: #282828; /* fg */

  /* View styling */
  --view-bg-color: #f9f5d7;
  --view-fg-color: #282828;

  /* Header bar */
  --headerbar-bg-color: #f9f5d7; /* bg0_soft */
  --headerbar-backdrop-color: #fbf1c7;
  --headerbar-fg-color: #282828;

  /* Popovers and dialogs */
  --popover-bg-color: #fbf1c7; /* bg0 */
  --popover-fg-color: #282828;

  --dialog-bg-color: var(--popover-bg-color);
  --dialog-fg-color: var(--popover-fg-color);

  /* Cards and sidebars */
  --card-bg-color: #fbf1c7; /* bg0 */
  --card-fg-color: #282828;

  --sidebar-bg-color: #f9f5d7; /* bg0 */
  --sidebar-fg-color: #282828;
  --sidebar-backdrop-color: var(--sidebar-bg-color);
  --sidebar-border-color: #d5c4a1; /* bg2 */

  --secondary-sidebar-bg-color: var(--sidebar-bg-color);
  --secondary-sidebar-fg-color: var(--sidebar-fg-color);
  --secondary-sidebar-backdrop-color: var(--sidebar-backdrop-color);
  --secondary-sidebar-border-color: var(--sidebar-border-color);

  /* Panel */
  --panel-bg-color: var(--window-bg-color);
  --panel-fg-color: var(--window-fg-color);
  --panel-button-bg-color: transparent;
  --panel-hover-bg-color: var(--card-bg-color);

  /* Active toggle */
  --active-toggle-fg-color: var(--window-bg-color);
  --active-toggle-bg-color: var(--window-fg-color);

  /* Accents: Blue */
  --blue-1: #458588;
  --blue-2: #83a598;
  --blue-3: #689d6a;
  --blue-4: #427b58;
  --blue-5: #8f3f71;

  /* Green */
  --green-1: #689d6a;
  --green-2: #427b58;
  --green-3: #b57614;
  --green-4: #af3a03;
  --green-5: #d65d0e;

  /* Yellow */
  --yellow-1: #b57614;
  --yellow-2: #af3a03;
  --yellow-3: #9d0006;
  --yellow-4: #8f3f71;
  --yellow-5: #076678;

  /* Orange */
  --orange-1: #af3a03;
  --orange-2: #9d0006;
  --orange-3: #8f3f71;
  --orange-4: #b57614;
  --orange-5: #689d6a;

  /* Red */
  --red-1: #9d0006;
  --red-2: #8f3f71;
  --red-3: #458588;
  --red-4: #076678;
  --red-5: #427b58;

  /* Purple */
  --purple-1: #8f3f71;
  --purple-2: #b16286;
  --purple-3: #458588;
  --purple-4: #d3869b;
  --purple-5: #83a598;

  /* Brown / Grays */
  --brown-1: #d5c4a1;
  --brown-2: #bdae93;
  --brown-3: #a89984;
  --brown-4: #928374;
  --brown-5: #7c6f64;

  /* Light */
  --light-1: #3c3836;
  --light-2: #504945;
  --light-3: #665c54;
  --light-4: #458588;
  --light-5: #bdae93;

  /* Dark */
  --dark-1: #d5c4a1;
  --dark-2: #ebdbb2;
  --dark-3: #fbf1c7;
  --dark-4: #f9f5d7;
  --dark-5: #f2e5bc;
}

/* Toast */
toast {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}

/* Inline */
.inline {
  background-color: rgba(0, 0, 0, 0);
}
