/* Tokyo Night Light Palette */
:root {
  --window-bg-color: #d5d6db; /* bg */
  --window-fg-color: #565f89; /* fg */

  /* View styling */
  --view-bg-color: #d5d6db;
  --view-fg-color: #565f89;

  /* Header bar */
  --headerbar-bg-color: #cbccd1;
  --headerbar-backdrop-color: #cbccd1;
  --headerbar-fg-color: #565f89;

  /* Popovers and dialogs */
  --popover-bg-color: #d5d6db;
  --popover-fg-color: #565f89;

  --dialog-bg-color: var(--popover-bg-color);
  --dialog-fg-color: var(--popover-fg-color);

  /* Cards and sidebars */
  --card-bg-color: #c8cad3;
  --card-fg-color: #565f89;

  --sidebar-bg-color: #d5d6db;
  --sidebar-fg-color: #565f89;
  --sidebar-backdrop-color: var(--sidebar-bg-color);
  --sidebar-border-color: #a9b1d6;

  --secondary-sidebar-bg-color: var(--sidebar-bg-color);
  --secondary-sidebar-fg-color: var(--sidebar-fg-color);
  --secondary-sidebar-backdrop-color: var(--sidebar-backdrop-color);
  --secondary-sidebar-border-color: var(--sidebar-border-color);

  --panel-bg-color: var(--window-bg-color);
  --panel-fg-color: var(--window-fg-color);
  --panel-button-bg-color: transparent;
  --panel-hover-bg-color: var(--card-bg-color);

  /* Active toggle */
  --active-toggle-fg-color: var(--window-bg-color);
  --active-toggle-bg-color: var(--window-fg-color);
}

/* Component styling */
toast {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}

.inline {
  background-color: rgba(0, 0, 0, 0);
}
