windowcontrols.start:not(.macos):not(.colored):not(.breeze):not(.hidden):not(.mint):not(.default) > button.minimize > image {
    color: @yellow_1;
}

windowcontrols.start:not(.macos):not(.colored):not(.breeze):not(.hidden):not(.mint):not(.default) > button.maximize > image {
    color: @green_1;
}

windowcontrols.start:not(.macos):not(.colored):not(.breeze):not(.hidden):not(.mint):not(.default) > button.close > image {
    color: @red_1;
}

windowcontrols.end:not(.macos):not(.colored):not(.breeze):not(.hidden):not(.mint):not(.default) > button.minimize > image {
    color: @yellow_1;
}

windowcontrols.end:not(.macos):not(.colored):not(.breeze):not(.hidden):not(.mint):not(.default) > button.maximize > image {
    color: @green_1;
}

windowcontrols.end:not(.macos):not(.colored):not(.breeze):not(.hidden):not(.mint):not(.default) > button.close > image {
    color: @red_1;
}
