windowcontrols:not(.macos):not(.colored):not(.breeze):not(.hidden):not(.mint):not(.default) > button {
  padding: 2px;
}

windowcontrols:not(.macos):not(.colored):not(.breeze):not(.hidden):not(.mint):not(.default) > button.minimize:not(:hover) image,
windowcontrols:not(.macos):not(.colored):not(.breeze):not(.hidden):not(.mint):not(.default) > button.maximize:not(:hover) image {
	background-color: transparent;
}

windowcontrols:not(.macos):not(.colored):not(.breeze):not(.hidden):not(.mint):not(.default) > button.close > image {
	background-color: @accent_bg_color;
	color: @accent_fg_color;
}
