.shake {
  animation: shake_animation 0.4s ease-in-out infinite;
}

.drop-area {
  outline: 2px dashed @card_bg_color;
  outline-offset: -0.2rem;
  border-radius: 12px;
}

.active-scheme {
  outline: 4px solid @accent_color;
}

.bold {
  font-weight: 500;
}

.delete-action {
  background-color: rgba(255, 0, 0, 0.2);
  color: @window_fg_color;
}

textview {
  background-color: @card_bg_color;
  color: @window_fg_color;
  border-radius: 6px;
  font-family: "Fira Code", monospace;
  font-size: 12pt;
}

gutter {
  background-color: @headerbar_bg_color;
  color: @window_fg_color;
}

@keyframes shake_animation {
  0%   { transform: rotate(-0.75deg); }
  25%  { transform: rotate(0.75deg); }
  50%  { transform: rotate(-0.75deg); }
  75%  { transform: rotate(0.75deg); }
  100% { transform: rotate(-0.75deg); }
}

windowcontrols.colored > button.minimize > image {
  color: @yellow_1;
}

windowcontrols.colored > button.maximize > image {
    color: @green_1;
}

windowcontrols.colored > button.close > image {
    color: @red_1;
}

windowcontrols.macos > button:not(.suggested-action):not(.destructive-action) {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 6px;
  margin-bottom: 2px;
}

windowcontrols.macos > button.minimize:not(.suggested-action):not(.destructive-action), windowcontrols.macos > button.maximize:not(.suggested-action):not(.destructive-action), windowcontrols.macos> button.close:not(.suggested-action):not(.destructive-action) {
  color: transparent;
  background: none;
}

windowcontrols.macos > button.minimize:hover:not(.suggested-action):not(.destructive-action), windowcontrols.macos > button.minimize:active:not(.suggested-action):not(.destructive-action), windowcontrols.macos> button.maximize:hover:not(.suggested-action):not(.destructive-action), windowcontrols.macos> button.maximize:active:not(.suggested-action):not(.destructive-action), windowcontrols.macos> button.close:hover:not(.suggested-action):not(.destructive-action), windowcontrols.macos > button.close:active:not(.suggested-action):not(.destructive-action) {
  box-shadow: none;
}

windowcontrols.macos > button.minimize:active:not(.suggested-action):not(.destructive-action) > image, windowcontrols.macos > button.maximize:active:not(.suggested-action):not(.destructive-action) > image, windowcontrols.macos> button.close:active:not(.suggested-action):not(.destructive-action) > image {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.6);
  transition-duration: 350ms;
  transition-timing-function: ease;
}

windowcontrols.macos > button.minimize:hover:not(.suggested-action):not(.destructive-action), windowcontrols.macos> button.minimize:active:not(.suggested-action):not(.destructive-action), windowcontrols.macos> button.maximize:hover:not(.suggested-action):not(.destructive-action), windowcontrols.macos> button.maximize:active:not(.suggested-action):not(.destructive-action), windowcontrols.macos> button.close:hover:not(.suggested-action):not(.destructive-action), windowcontrols.macos> button.close:active:not(.suggested-action):not(.destructive-action) {
  color: @window_bg_color;
}

windowcontrols.macos > button.minimize:not(.suggested-action):not(.destructive-action) > image {
  background-color: @yellow_1;
}

windowcontrols.macos > button.minimize:active:not(.suggested-action):not(.destructive-action) > image {
  background-color: @yellow_1;
}

windowcontrols.macos > button.maximize:not(.suggested-action):not(.destructive-action) > image {
  background-color: @green_1;
}

windowcontrols.macos > button.maximize:active:not(.suggested-action):not(.destructive-action) > image {
  background-color: @green_1;
}

windowcontrols.macos > button.close:not(.suggested-action):not(.destructive-action) > image {
  background-color: @red_1;
}

windowcontrols.macos > button.close:active:not(.suggested-action):not(.destructive-action) > image {
  background-color: @red_1;
}

windowcontrols.macos {
  border-spacing: 6px;
}

windowcontrols.macos:not(.empty).start:dir(ltr), windowcontrols.macos:not(.empty).end:dir(rtl) {
  margin-right: 6px;
  margin-left: 6px;
}

windowcontrols.macos:not(.empty).start:dir(rtl), windowcontrols.macos:not(.empty).end:dir(ltr) {
  margin-left: 6px;
  margin-right: 6px;
}

windowcontrols.macos > button:not(.suggested-action):not(.destructive-action) > image {
  min-width: 17px;
  min-height: 17px;
  padding: 0;
}

windowcontrols.macos > button.minimize:backdrop:not(.suggested-action):not(.destructive-action) > image, windowcontrols.macos > button.maximize:backdrop:not(.suggested-action):not(.destructive-action) > image, windowcontrols.macos > button.close:backdrop:not(.suggested-action):not(.destructive-action) > image, windowcontrols.macos > button.minimize:backdrop:hover:not(.suggested-action):not(.destructive-action), windowcontrols.macos > button.minimize:backdrop:active:not(.suggested-action):not(.destructive-action), windowcontrols.macos > button.maximize:backdrop:hover:not(.suggested-action):not(.destructive-action), windowcontrols.macos > button.maximize:backdrop:active:not(.suggested-action):not(.destructive-action), windowcontrols.macos > button.close:backdrop:hover:not(.suggested-action):not(.destructive-action), windowcontrols.macos > button.close:backdrop:active:not(.suggested-action):not(.destructive-action) {
    opacity: 0.7;
}

windowcontrols.macos > button {
  min-height: 17px;
  min-width: 17px;
  padding: 2px;
}
